[DEFAULT]
WsUserKey=
WsOrgToken=
WsUrl=https://saas.whitesourcesoftware.com
ReportTypes=
OperationMode=FilterProjectsByUpdateTime
#OperationMode=FilterProjectsByLastCreatedCopies
OutputDir=
ExcludedProductTokens=
IncludedProductTokens=
AnalyzedProjectTag=
DaysToKeep=50000
ProjectParallelismLevel=5
DryRun=False
SkipReportGeneration=True
SkipProjectDeletion=False
ExcludedProjectTokens=
ExcludedProjectNamePatterns=