[DEFAULT]
WsUserKey=
WsOrgToken=
WsUrl=https://saas.whitesourcesoftware.com
ReportTypes=alerts
OperationMode=FilterProjectsByUpdateTime
#OperationMode=FilterProjectsByLastCreatedCopies
OutputDir=
ExcludedProductTokens=
IncludedProductTokens=558872903f34435b99c5b647f3e8905f4eeb0a9b8edb4f948c06aea790e443f5
AnalyzedProjectTag=
DaysToKeep=1
ProjectParallelismLevel=5
DryRun=False
SkipReportGeneration=False
SkipProjectDeletion=False
ExcludedProjectTokens=
ExcludedProjectNamePatterns=