[DEFAULT]
WsUserKey=c4631c95b51045419126397369510b6399a58bec140040549f78a0f26ba517be
WsOrgToken=9f7735ee22414584aaa3bd7a91b4bbd4cfc15f9e67ff4ecc87423540999fd5f2
WsUrl=https://saas.whitesourcesoftware.com
ReportTypes=
OperationMode=FilterProjectsByUpdateTime
#OperationMode=FilterProjectsByLastCreatedCopies
OutputDir=
ExcludedProductTokens=
IncludedProductTokens=6c4bd5f946f7463f9ad4ebaa1e31949ea702f3b7ad934bcfbe6d5d14b1ffc8fb
AnalyzedProjectTag=
AnalyzedProjectTagRegexInValue=
DaysToKeep=50000
ProjectParallelismLevel=5
DryRun=False
SkipReportGeneration=True
SkipProjectDeletion=False
ExcludedProjectTokens=
ExcludedProjectNamePatterns=
