[DEFAULT]
WsUserKey=
WsOrgToken=
WsUrl=https://saas.whitesourcesoftware.com
ReportTypes=
OperationMode=FilterProjectsByUpdateTime
#OperationMode=FilterProjectsByLastCreatedCopies
OutputDir=
ExcludedProductTokens=
IncludedProductTokens=
AnalyzedProjectTag=
DaysToKeep=100
ProjectParallelismLevel=5
DryRun=True
SkipReportGeneration=True
SkipProjectDeletion=True