[DEFAULT]
IncludedProductTokens=
ExcludedProductTokens=
WsUrl=https://saas.whitesourcesoftware.com
UserKey=
OrgToken=
DryRun=False
DaysToKeep=60
Reports=inventory, vulnerability, source_file_inventory, alerts, due_diligence, bugs, ignored_alerts, resolved_alerts, request_history, in_house,license_compatibility
ReportsDir=
ProjectParallelismLevel=5
