***REMOVED***
***REMOVED***
***REMOVED***
WsUrl=saas
DryRun=True
SkipReportGeneration=False
***REMOVED***
DaysToKeep=10
Reports=inventory_report.xlsx, vulnerability_report.xlsx, source_file_inventory_report.xlsx, alerts_report.xlsx, due_diligence_report.xlsx, bugs_report.xlsx, ignored_alerts_report.xlsx, resolved_alerts_report.xlsx, request_history_report.xlsx, in_house_report.xlsx,license_compatibility_report.xlsx
ReportsDir=/tmp/reports/
***REMOVED***
LogToFile=False